<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124002657537-urtkp8cnmaj11q4ur542b7glj5p6lffc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124002657537-urtkp8cnmaj11q4ur542b7glj5p6lffc</string>
	<key>API_KEY</key>
	<string>AIzaSyCWWjUDeWFmAiYHHtP71HI2AKicGSQDipY</string>
	<key>GCM_SENDER_ID</key>
	<string>124002657537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.DueMore</string>
	<key>PROJECT_ID</key>
	<string>duemore-test</string>
	<key>STORAGE_BUCKET</key>
	<string>duemore-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124002657537:ios:ea26dfbfc99e35f583a700</string>
	<key>DATABASE_URL</key>
	<string>https://duemore-test.firebaseio.com</string>
</dict>
</plist>